<!DOCTYPE html>
<html lang="te" dir="ltr">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
		<title>story</title>
	</head>
    <script>
    
    
    </script>
	<body>
		<center>
            <h1>The End</h1>
            
        </center>
    <a href="{{previous_link}}"> <button type="button"  class = "previous"  >previous page</button></a>
    
		</body>
</html>