<!DOCTYPE html>
<html lang="te" dir="ltr">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
		<title>story</title>
	</head>
    <script>
    
    
    </script>
	<body>
		<center>
            <h1> {{title_eng}} </h1>
            <img src="/{{cover}}" height="300px" width="300px"> </img>
            <h1>{{title_tel}}</h1>
	
        </center>
    <a href="{{next_link}}"> <button type="button"  class = "next"  >Next page</button></a>
    
		</body>
</html>